################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hidden Menu/Hidden Menu/Hidden Menu/Utilities/Variables.cs
/Hidden Menu/Hidden Menu/Hidden Menu/.vs
/Hidden Menu/Hidden Menu/Hidden Menu/.vs
/Hidden Menu/Hidden Menu/Hidden Menu/.vs
/Hidden Menu/Hidden Menu/Hidden Menu/bin
/Hidden Menu/Hidden Menu/Hidden Menu/bin
/Hidden Menu/Hidden Menu/Hidden Menu/.vs
/Hidden Menu/Hidden Menu/Hidden Menu/bin
/Hidden Menu/Hidden Menu/Hidden Menu/.vs
