################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Hidden Menu/.vs
/Hidden Menu/bin
/Hidden Menu/obj/
/.vs/
