################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Elixir/Elixir/.vs
/Elixir/Elixir/bin
/Elixir/Elixir/obj